h2{
    text-align: center;
    color:crimson;
}
.box_model{
    background-color: hotpink;
    width: 100%;
    height: 100px;
    border-radius: 10px;
}
.box{
    color: darkslateblue;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
}
.second-box{
    background-color: violet;
    width: 100%;
    height: 100px;
    border-radius: 20px;
}
img{
    width: 400px;
    height: 400px;
}